<div class="topnav">
  <app-sidenav *ngIf="isLoggedIn()"></app-sidenav>
  <a *ngIf="isLoggedIn()" [routerLink]="['/profile', getUserIdFromCookie()]">My Profile</a>
  <div class="nav-brand">
    <img id="textbanner" src="assets\banner.png">
  </div>

  <div class="search-container" *ngIf="isLoggedIn()">
    <form class="form">
      <input type="search"
             placeholder="Search for a User"
             [formControl]="searchControl"
             [matAutocomplete]="auto"
             class="form-control col-md-5 col-0 search-input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.userName" (click)="whoWasClicked(user)">
          <span>{{ user.userName }}</span>
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>

  <div *ngIf="isLoggedIn()" class="profile-picture-wrapper d-none d-sm-block">
    <img src="assets\default_icon.png" alt="Profile Picture" class="img-profile">
  </div>

  <div class="spacer"></div>
</div>
