<!--<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="#about">About</a>

  <div class="nav-brand">
    <img id="textbanner" src="assets\banner.png">
  </div>

  <div class="search-container">
    <form class="form">
      <input type="search"
             placeholder="Search for a User"
             [formControl]="searchControl"
             [matAutocomplete]="auto"
             class="input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of users" [value]="user.name">
          &lt;!&ndash;      <span>{{ user.name }}</span>&ndash;&gt;
          &lt;!&ndash;      <span>{{ user.age }}</span>&ndash;&gt;
          &lt;!&ndash;      <span>{{ user.university }}</span>&ndash;&gt;
          &lt;!&ndash;      <span>{{ user.course }}</span>&ndash;&gt;
          <span>{{ user.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>

  <div class="spacer"></div>
</div>-->

<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="#about">About</a>
  <a *ngIf="isLoggedIn()" [routerLink]="['/profile', getUserIdFromCookie()]">My Profile</a>
  <div class="nav-brand">
    <img id="textbanner" src="assets\banner.png">
  </div>

  <div *ngIf="isLoggedIn()" class="profile-picture-wrapper d-none d-sm-block">
    <img src="assets\default_icon.png" alt="Profile Picture" class="img-profile">  <!-- Will need a check here to see if the user has a profile picture, hides on smaller screens-->
</div>

  <div class="search-container">
    <form class="form">
      <input type="search"
             placeholder="Search for a User"
             [formControl]="searchControl"
             [matAutocomplete]="auto"
             class="input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.userName" (click)="whoWasClicked(user)">
          <span>{{ user.userName }}</span>
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>

  <div class="spacer"></div>
</div>

