<!--<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="#about">About</a>

  <div class="nav-brand">
    <img id="textbanner" src="assets\banner.png">
  </div>

  <div class="search-container">
    <form class="form">
      <input type="search"
             placeholder="Search for a User"
             [formControl]="searchControl"
             [matAutocomplete]="auto"
             class="input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of users" [value]="user.name">
          &lt;!&ndash;      <span>{{ user.name }}</span>&ndash;&gt;
          &lt;!&ndash;      <span>{{ user.age }}</span>&ndash;&gt;
          &lt;!&ndash;      <span>{{ user.university }}</span>&ndash;&gt;
          &lt;!&ndash;      <span>{{ user.course }}</span>&ndash;&gt;
          <span>{{ user.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>

  <div class="spacer"></div>
</div>-->

<div class="topnav">
  <a class="active" href="/home">Home</a>
  <a href="#about">About</a>

  <div class="nav-brand">
    <img id="textbanner" src="assets\banner.png">
  </div>

  <div class="search-container">
    <form class="form">
      <input type="search"
             placeholder="Search for a User"
             [formControl]="searchControl"
             [matAutocomplete]="auto"
             class="input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.userName" (click)="whoWasClicked(user)">
          <span>{{ user.userName }}</span>
          <!--      <span>{{ user.name }}</span>-->
          <!--      <span>{{ user.age }}</span>-->
          <!--      <span>{{ user.university }}</span>-->
          <!--      <span>{{ user.course }}</span>-->
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>

  <div class="spacer"></div>
</div>

