<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Welcome to the CourseMates About Page !!!</h1>
      <h2>
        Welcome to CourseMates, where love blossoms amidst the ivy-covered walls of academia! We're not just any dating
        site; we're the matchmaker of the student world, connecting hearts through the shared experience of university
        life. Here at CourseMates, we believe that chemistry isn't just for the lab—it's for your love life too! Say
        goodbye to awkward encounters in the lecture hall and hello to serendipitous connections with fellow students
        who understand the ins and outs of your major, your campus, and the late-night study sessions at the library.
        Whether you're searching for your academic soulmate or simply looking to expand your social circle, CourseMates
        is here to make your university experience a love-filled journey. Join us today and let your heart enroll in the
        course of love!
      </h2>
    </div>
    <div class="col-6 align-content-center">
      <a href="https://github.com/Bojo992/CS4116-DatingApp">
        <img src="assets/githubLogo.png" href="https://github.com/Bojo992/CS4116-DatingApp">
      </a>
    </div>
  </div>
</div>

