<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2>About Us</h2>
          <p>Welcome to CourseMates, where love blossoms amidst the ivy-covered walls of academia! We're not just any
            dating site; we're the matchmaker of the student world, connecting hearts through the shared experience of
            university life.</p>
          <p>Here at CourseMates, we believe that chemistry isn't just for the lab—it's for your love life too! Say
            goodbye to awkward encounters in the lecture hall and hello to connections with fellow
            students who understand the ins and outs of your major, your campus, and the late-night study sessions at
            the library. Whether you're searching for your academic soulmate or simply looking to expand your social
            circle, CourseMates is here to make your university experience a love-filled journey.</p>
        </div>
        <div class="col-md-12 mt-3">
          <h3>GitHub</h3>
          <a href="https://github.com/Bojo992/CS4116-DatingApp">
            <img src="assets/githubLogo.png" alt="GitHub Logo">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div style="max-width: 400px; margin: 0 auto; text-align: center;">
        <img src="assets/logo_variants/coursemateslogo.png" alt="CourseMates Logo" class="img-fluid">
      </div>
    </div>
  </div>
</div>

