<div class="p-5">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Personal Info</th>
        <th>Course</th>
        <th>Date Created</th>
        <th>Admin Status</th>
        <th>Action</th>
        <th>Admin Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.userId }}</td>
        <td>{{ item.userName }}</td>
        <td>{{ item.userEmail }}</td>
        <td>{{ item.personalInfo }}</td>
        <td>{{ item.course }}</td>
        <td>{{ item.dateCreated }}</td>
        <td *ngIf="!item.isAdmin">No</td>
        <td *ngIf="item.isAdmin">Yes</td>
        <td>
          <mat-form-field [formGroup]="range">
            <mat-label>Choose a date</mat-label>
            <input matInput formControlName="start" [matDatepicker]="picker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>


          <button class="btn_ban" (click)="banUser(item.userId)">Ban</button>
          <button class="btn_unban" (click)="unBanUser(item.userId)">Unban</button>
        </td>
        <td>
            <button *ngIf="!item.isAdmin" class="btn btn-success" (click)="changeAdminStatus(item)">Promote</button>
            <button *ngIf="item.isAdmin" class="btn btn-warning" (click)="changeAdminStatus(item)">Demote</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
