<!doctype html>
<html lang="en">
<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>

<body>
  <!--
<router-outlet></router-outlet>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="login-container text-center">
      <div class="header">
        <h2><strong>Welcome!</strong></h2>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn-primary btn-register" onclick="window.location.href='register.html';">Register</button>
        <button type="button" class="btn btn-secondary btn-login" onclick="document.getElementById('loginComponent').style.display='block'">Login</button>
      </div>
    </div>
  </div>

-->

<div class="container-fluid min-vh-100 d-flex align-items-center">
  <div class="row w-100">
    <div class="col-md-6 left-side-background">
      <img src="assets/sample2.png" alt="Background Description" class="img-fluid w-100 h-100 position-absolute" style="object-fit:cover; opacity: 20%;">
      <div class="intro-content">
        <h1><strong>Uniting hearts and minds!</strong></h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ducimus asperiores iusto rem sapiente reiciendis cum quibusdam iste! Repellendus possimus doloremque cumque repudiandae, impedit enim voluptas aperiam dolorem harum tempore!.</p>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="login-container text-center">
        <div class="header">
          <h2><strong>Welcome!</strong></h2>
        </div>
        <div class="button-container">
          <button type="button" class="btn btn-primary btn-register" onclick="document.getElementById('registerComponent').style.display='block'">Register</button>
          <button type="button" class="btn btn-secondary btn-login" onclick="document.getElementById('loginComponent').style.display='block'">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="loginComponent" class="modal">
  <form class="modal-content animate" action="index.html" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('loginComponent').style.display='none'" class="close" title="Go back">&times;</span>
    </div>
    <div class="container">
      <form>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password">
        </div>
        <div class="button-container">
          <button type="submit" class="btn-login">Log-in</button>
          <button type="button" onclick="document.getElementById('loginComponent').style.display='none'" class="cancelbtn">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </form>
</div>

<div id="registerComponent" class="modal">
  <form class="modal-content animate" action="index.html" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('registerComponent').style.display='none'" class="close" title="Go back">&times;</span>
    </div>
    <div class="container">
      <form>
        <div class="form-group">
          <label for="username">Enter a username:</label>
          <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
          <label for="email">Set an email address:</label>
          <input type="email" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Set a password:</label>
          <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
          <label for="password">Confirm password:</label>
          <input type="password" id="password" name="password">
        </div>
        <div class="button-container">
          <button type="submit" class="btn-login">Register</button>
          <button type="button" onclick="document.getElementById('registerComponent').style.display='none'" class="cancelbtn">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </form>
</div>

<script>
  // Get the modal
  var modal = document.getElementById('loginComponent');

  // When the user clicks anywhere outside the modal, close it
  // Wait for the DOM content to load
  document.addEventListener('DOMContentLoaded', function() {
    // Get a reference to the modal element
    var modal = document.getElementById('loginComponent');

    // Attach a click event listener to the document
    document.addEventListener('click', function(event) {
      // Check if the clicked element is outside the modal and not the modal itself
      if (event.target !== modal && !modal.contains(event.target)) {
        // If so, close the modal by hiding it
        modal.style.display = "none";
      }
    });
  });
  
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
