<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Homepage</title>

</head>
<body>
<form class="form">
  <input type="search"
         placeholder="Search for a User"
         [formControl]="control"
         [matAutocomplete]="auto"
         class="input">
  <mat-autocomplete #auto="matAutocomplete">
    @for (user of filteredUsers | async; track user) {
      <mat-option [value]="user">{{ user }}</mat-option>
    }
  </mat-autocomplete>
</form>
</body>
</html>
