<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Homepage</title>

</head>
<body>
<form class="form">
  <input type="search"
         placeholder="Search for a User"
         [formControl]="searchControl"
         [matAutocomplete]="auto"
         class="input">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let user of filteredUsers | async" [value]="UserToString(user)">
      <span>{{ user.name }}</span>
      <span>{{ user.age }}</span>
      <span>{{ user.university }}</span>
      <span>{{ user.course }}</span>
    </mat-option>
  </mat-autocomplete>
</form>
</body>
</html>
