<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <p>
      <button mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
  <button mat-button (click)="sidenav.toggle()" class="sidenav-btn">toggle</button>
  Sidenav content
  <h1 class="sidenav-text">qwerty</h1>
  <h1 class="sidenav-text">qwerty</h1>
  <h1 class="sidenav-text">qwerty</h1>
  <h1 class="sidenav-text">qwerty</h1>
  <h1 class="sidenav-text">qwerty</h1>
  <h1 class="sidenav-text">qwerty</h1>
  <h1 class="sidenav-text">qwerty</h1>
</mat-sidenav>
