<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>

    <button mat-icon-button (click)="sidenav.toggle()" class="btn btn-primary" style="height: 50px">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-sidenav-content>
</mat-sidenav-container>
<mat-sidenav #sidenav mode="push" [(opened)]="opened" class="sidenav">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <button mat-icon-button (click)="sidenav.toggle()" class="btn btn-primary" style="height: 50px">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="col">
        <div class="nav-brand align-content-md-start">
          <img id="textbanner" src="assets\banner.png">
        </div>
      </div>
    </div>
  </div>

</mat-sidenav>
