.sidenav-container {
  position: relative;
  background-color: #3498db;

}

.mat-sidenav {
  width: 300px; /* Adjust as needed */
}

.mat-sidenav-content {
  padding: 20px; /* Adjust as needed */
}

.mat-drawer {
  height: 100vh; /* Set width to full viewport width */
  max-height: 100vh; /* Ensure it doesn't exceed viewport width */
}

/* Sidenav */
.sidenav {
  background-color: #3498db; /* Background color for sidenav */
}

/* Button inside sidenav */
.sidenav-btn {
  color: #fff; /* Text color */
  background-color: #3498db; /* Background color for button */
}

/* Text inside sidenav */
.sidenav-text {
  color: #fff; /* Text color */
}
