<div class="container">
  <div class="row">
    <div class="col-6" ><img src="assets/error_404.jpeg" class="img-thumbnail border-0"></div>
    <div class="col-6 align-content-center">
      <p class="fw-bold">Sorry</p>
      <p class="fw-bold">this page is not available</p>
      <p class="text-gray">The link you followed may be broken, or the page may have been removed</p>
      <p ><a class="link-opacity-100-hover pe-auto" href="#" (click)="router.navigate(['home'])">Go back to CourseMates.com</a></p></div>
  </div>
</div>

